* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #222;
}
#inputBox {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  height: 60px;
  width: 350px;
}
input {
  height: 100%;
  width: 100%;
  background: transparent;
  color: #ccc;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding-left: 5px;
}
#message {
  color: #ccc;
  margin-top: 10px;
  font-size: 1.1rem;
  display: none;
}
i {
  color: #38ff4c;
  visibility: visible;
  visibility: hidden;
}
